.breadcrumb{
  float: right;
  background-color: transparent;
}

ul.bar_tabs{
  background: #FFFFFF;
}

.profile_title{
  margin-bottom: 10px;
}

.center{
  text-align: center;
}

.button-actions{
  margin-top: 5px;
  margin-bottom: 5px;
}
